{% extends 'base.html' %}

{% block title %}
    <title>
        BrickViewer | About
    </title>
{% endblock %}

{% block content %}
    <h1>
        About
    </h1>

    <br>

    <div class="accordion accordion-flush w-50" id="accordion_about">
        <!-- about the company -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Company
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    BrickViewer is an application which aims to provide access to a list of Lego parts for users to browse.
                    Pieces are organized based on the category and sub-category they belong to.
                    For example, users can view regular or modern electric bricks.
                </div>
            </div>
        </div>

        <!-- about security -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Web application security
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    The application is secure against XSS since the Django template system is used for the HTML part (as specified
                    <a href="https://docs.djangoproject.com/en/4.1/ref/templates/language/#automatic-html-escaping" target="_blank">here</a>
                    ).
                </div>
            </div>
        </div>

        <!-- about the course -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Course
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p>
                        <strong>Title:</strong>
                        ITC4214 Internet Programming
                    </p>
                    <p>
                        <strong>Instructor:</strong>
                        Sofoklis Efremidis, Ph.D.
                    </p>
                    <p>
                        <strong>Assignment:</strong>
                        Term Project
                    </p>
                    <p>
                        <strong>Due date:</strong>
                        December 9, 2022
                    </p>
                    <p>
                        <strong>Objective:</strong>
                        This assignment asks you to demonstrate your ability to design and develop an enterprise web application.
                    </p>
                </div>
            </div>
        </div>

        <!-- about the developer -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    Developer
                </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p>
                        <strong>Name:</strong>
                        Orestis Papadopoulos
                    </p>
                    <p>
                        <strong>ID number:</strong>
                        241394
                    </p>
                    <p>
                        <strong>Status:</strong>
                        Senior
                    </p>
                    <p>
                        <strong>Email:</strong>
                        o.papadopoulos@acg.edu
                    </p>
                    {% load static %}
                    <img src="{% static 'catalog/images/o.papadopoulos_241394_headshot.jpg' %}" class="img-thumbnail" width="100" height="auto" alt="IMAGE_ERROR">
                </div>
            </div>
        </div>
    </div>
{% endblock %}